!!!
%html{lang: "en"}
  %head
    = partial "partials/head_meta"
    %title= current_page.data.title
    = stylesheet_link_tag "main"
  %body
    .wrapper
      = partial "partials/header"
      %main
        = yield
      = partial "partials/footer"
    = partial "partials/analytics"
