%article.project__row
  .project__item

  .project__info
    %h1.project__title= project.title
    %h2.project__description= project.description
    %p.project__preview= project.introduction if project.introduction.present?
    - if %i[strategies domains categories].any? { |type| project.send(type).present? }
      .project__category
        %ul.category__list
          - project.slice(:strategies, :domains, :categories).each do |type, tags|
            - if tags.present?
              - tags.each do |tag|
                %li.category__item
                  - if type == "strategies"
                    = link_to "../../methods/#{tag.parameterize}/", class: "category__link" do
                      = tag
                  - else
                    = link_to "../../#{type}/#{tag.parameterize}/", class: "category__link" do
                      = tag
