%article.project__row
  .project__item

  .project__info
    %h1.project__title
      - if project.try(:title).present?
        = link_to "../../work/#{project.title.parameterize}/", class: "project__link" do
          = project.title
    %h2.project__description= project.try(:description)
    %p.project__preview= project.try(:introduction)
    - if valid_tags?(project)
      .project__category
        %ul.category__list
          - project.slice(:strategies, :domains, :categories).each do |type, tags|
            - if tags.present?
              - tags.each do |tag|
                %li.category__item
                  - if type == "strategies"
                    = link_to "../../methods/#{tag.parameterize}/", class: "category__link" do
                      = tag
                  - else
                    = link_to "../../#{type}/#{tag.parameterize}/", class: "category__link" do
                      = tag
